

body {
  background-color: #FFF8EA;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Noto Sans Ethiopic', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Secular One', sans-serif;;
}

code {
  font-family: 'Bebas Neue', cursive;
font-family: 'Noto Sans Ethiopic', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Secular One', sans-serif;
}
